@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$last-child:calc(60vh - 28px);

$last-child-list:calc(52vh - 35px);

::-webkit-scrollbar {
  width: 2vw;
}

::-webkit-scrollbar-track {
  background: #ffffff;

}

::-webkit-scrollbar-thumb {
  background: rgba(217, 217, 217, 1);
  border-bottom: solid 7px black;
  border-top: solid 7px black;

}

  .underline {
    width: 100%;

  }

  .underline::after {
    display: block;
    content: '';
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1vh;
    width: 100%;
    height: 0.1vh;
    background-color: black;
  }

  .underline-white {
    width: 100%;

  }

  .underline-white::after {
    display: block;
    content: '';
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1vh;
    width: 100%;
    height: 0.1vh;
    background-color: white;
  }

  .first-layer {
    position: relative;
    height: 24vh;
    width: 100%;
    display: flex;
    flex-direction: row;


    margin-top: -7px;

    .blind-printing {

      width: 46vw;
      height: 24vh;
      border: solid 7px black;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;

      .the-most-powerful {
        text-transform: uppercase;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4vw;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3em;
      }

      .training {
        text-transform: uppercase;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 2.355vw;
        letter-spacing: 0.27em;


      }

      .prints {
        text-transform: uppercase;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 3.35vw;
        letter-spacing: 0.24em;
        margin-top: -1vh;
      }

      .in-the-blind {
        text-transform: uppercase;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 1.6vw;
        font-size: 1.6vw;
        letter-spacing: 0.43em;
        margin-top: -1vh;

      }

    }

    .Container-us {
      height: 24vh;
      width: 54vw;
      border: solid 7px black;
      margin-left: -7px;
      display: flex;
      justify-content: center;
      align-items: center;

      .Us {
        background-color: black;
        height: 62%;
        width: 88%;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 1.1vw;
        line-height: 38px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

        .center-text {
          text-align: center;
          width: fit-content;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

      }

    }
  }

  .second-layer {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    position: relative;
    height: 100%;

    .difficulty-levels {
      height: 8vh;
      width: 60vw;
      border: solid 7px black;
      display: flex;
      align-items: center;
      white-space: nowrap;

      .difficulty-levels-text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5vw;
        line-height: 47px;
        letter-spacing: 0.1em;
        padding-left: 6.5vw;
        display: flex;

      }

      button {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 1.8vw;
        line-height: 59px;
        border: 0;
        background: transparent;
      }

      .level-1 {
        padding-left: 25.5vw;
      }

      .level-2 {
        padding-left: 1.5vw;
      }

      .level-3 {
        padding-left: 1.5vw;
      }

      .level-4 {
        padding-left: 1.5vw;
      }

    }

    .container-all-test {
      height: $last-child-list;
      width: 61vw;
      border-bottom: solid 7px black;
      border-top: solid 7px black;
      margin-top: -7px;
      overflow-y: auto;

      .container-number-test {
        border: solid 7px black;
        margin-top: -7px;
        height: 20vh;


          .test-name {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 1.7vw;
            line-height: 47px;
            padding-left: 1.5vw;
          }
        .text-flex-row {
          display: flex;
          flex-direction: row;

          .test-zone {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3vw;
            padding-left: 1.5vw;

          }

          .test-time {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3vw;
            padding-left: 1.5vw;

          }

          .test-max-mistake {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3vw;
            padding-left: 1.5vw;

          }

          .test-symbol {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 1.3vw;
            padding-left: 1.5vw;
            margin-top: 1vh;

          }


        }
      }

    }

    .description-of-difficulty-levels {
      height: $last-child;
      width: 40vw;
      margin-left: -6px;
      border: solid 7px black;

      .the-name-of-the-difficulty-level {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 1.7vw;
        letter-spacing: 0.1em;
        margin-top: 2vh;
        margin-bottom: 3vh;
        float: right;
        margin-right: 2vw;

      }

      .text-description-of-difficulty-levels {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 1.2vw;
        letter-spacing: 0.1em;
        float: right;
        margin-right: 2vw;
        margin-bottom: 1vw;
        width: fit-content;


      }


    }

  }
